<form method="POST" action="">
  <h3>DOMAIN Information</h3>
         DOMAIN<br>
         <input type = "text" name = "DOMAIN" /></br>

         LABEL<br>
         <input type = "text" name = "LABEL" /><br>

         TYPE<br>
         <input type = "text" name = "TYPE" /><br>

         <input type = "submit" value = "submit" /><br>
</form>
